.mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 0.7s;
    padding-top: 60px;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
